<% include ../navigation.ejs %>
<br />
<% if(error) { %>
	<%= error %>
<% } %>
<h1>Create a new Category</h1>
<form action="new" method="post">
	Name:<input type="text" name="name"> <br />
	Active?:<input type="checkbox" name="active"> <br />
	<input type="Submit" value="Create">
</form>
<% include ../footer.ejs %>